In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
import webbrowser
websites ='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(websites)

True

In [6]:
nfl_frame = pd.read_clipboard()

In [8]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East
5,6,Baltimore Ravens,187,154,1,0.548,1996,342,AFC North

In [9]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied*', u'Pct.', u'First Season',
       u'Total Games', u'Conference'],
      dtype='object')

In [14]:
nfl_frame['First Season']

0    1921
1    1920
2    1960
3    1966
4    1960
5    1996
Name: First Season, dtype: int64

In [15]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

                   Team  First Season  Total Games
0     Green Bay Packers          1921         1355
1         Chicago Bears          1920         1373
2        Dallas Cowboys          1960          913
3        Miami Dolphins          1966          808
4  New England Patriots          1960          898
5      Baltimore Ravens          1996          342

In [17]:
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium'])

                   Team  First Season  Total Games  Stadium
0     Green Bay Packers          1921         1355      NaN
1         Chicago Bears          1920         1373      NaN
2        Dallas Cowboys          1960          913      NaN
3        Miami Dolphins          1966          808      NaN
4  New England Patriots          1960          898      NaN
5      Baltimore Ravens          1996          342      NaN

In [18]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East
5,6,Baltimore Ravens,187,154,1,0.548,1996,342,AFC North

In [19]:
nfl_frame.head

<bound method DataFrame.head of    Rank                  Team  Won  Lost  Tied*   Pct.  First Season  \
0     1     Green Bay Packers  751   567     37  0.568          1921
1     2         Chicago Bears  758   573     42  0.567          1920
2     3        Dallas Cowboys  515   392      6  0.567          1960
3     4        Miami Dolphins  449   355      4  0.558          1966
4     5  New England Patriots  490   399      9  0.551          1960
5     6      Baltimore Ravens  187   154      1  0.548          1996

   Total Games Conference
0         1355  NFC North
1         1373  NFC North
2          913   NFC East
3          808   AFC East
4          898   AFC East
5          342  AFC North  >

In [22]:
nfl_frame.tail (2)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East
5,6,Baltimore Ravens,187,154,1,0.548,1996,342,AFC North

In [23]:
nfl_frame.ix[3]

Rank                         4
Team            Miami Dolphins
Won                        449
Lost                       355
Tied*                        4
Pct.                     0.558
First Season              1966
Total Games                808
Conference            AFC East
Name: 3, dtype: object

In [27]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North,Levi's Stadium
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North,Levi's Stadium
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East,Levi's Stadium
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East,Levi's Stadium
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East,Levi's Stadium
5,6,Baltimore Ravens,187,154,1,0.548,1996,342,AFC North,Levi's Stadium

In [36]:
nfl_frame['Stadium'] = np.arange(6)
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North,0
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North,1
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East,2
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East,3
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East,4
5,6,Baltimore Ravens,187,154,1,0.548,1996,342,AFC North,5

In [39]:
stadiums = Series(["Levi's Stadium",'AT&T',], index=[5,0])

In [40]:
stadiums

5    Levi's Stadium
0              AT&T
dtype: object

In [41]:
nfl_frame["Stadium"]=stadiums

In [50]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North
2,3,Dallas Cowboys,515,392,6,0.567,1960,913,NFC East
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East
5,6,Baltimore Ravens,187,154,1,0.548,1996,342,AFC North

In [52]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [53]:
city_frame = DataFrame(data)

In [54]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000