In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
from numpy.random import randn

In [7]:
ser = Series(randn(6), index=[[1,1,1,2,2,2],['A','B','C','A','B','C']])
ser

1  A   -1.441175
   B   -1.177664
   C   -0.132558
2  A    0.854333
   B    0.069001
   C   -0.086817
dtype: float64

In [8]:
ser.index

MultiIndex(levels=[[1, 2], [u'A', u'B', u'C']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [9]:
ser[1]

A   -1.441175
B   -1.177664
C   -0.132558
dtype: float64

In [10]:
ser[2]

A    0.854333
B    0.069001
C   -0.086817
dtype: float64

In [11]:
ser[:,'A']

1   -1.441175
2    0.854333
dtype: float64

In [12]:
dframe = ser.unstack()

In [13]:
dframe

          A         B         C
1 -1.441175 -1.177664 -0.132558
2  0.854333  0.069001 -0.086817

In [21]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],
                                          columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [ ]:
dframe2.swaplevel()