In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [6]:
ser1 = Series(np.arange(3),index=['A','B','C'])

In [7]:
ser1

A    0
B    1
C    2
dtype: int64

In [8]:
ser1.drop('B')

A    0
C    2
dtype: int64

In [9]:
dframe=DataFrame(np.arange(9).reshape((3,3)),index = ["SF","LA","NY"], columns=['POP','Size','Year'])

In [10]:
dframe

    POP  Size  Year
SF    0     1     2
LA    3     4     5
NY    6     7     8