In [5]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [7]:
ser1=Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [8]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [9]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [10]:
ser3 = Series(['USA',"Mexico","Canada"],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [11]:
ranger = range(15)

In [12]:
range

In [13]:
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [15]:
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [19]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.850490  3.163924 -0.682093 -0.771686  0.686310
B  0.321337 -0.058771  0.761163  0.886831 -0.519606
D  0.552078  1.070933 -1.156320  0.345840 -3.015076
E -0.986084  0.034935  1.039179  0.893920 -0.663813
F -1.176792  0.137833 -0.419405 -0.704075  2.057130

In [21]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A -0.850490  3.163924 -0.682093 -0.771686  0.686310
B  0.321337 -0.058771  0.761163  0.886831 -0.519606
C       NaN       NaN       NaN       NaN       NaN
D  0.552078  1.070933 -1.156320  0.345840 -3.015076
E -0.986084  0.034935  1.039179  0.893920 -0.663813
F -1.176792  0.137833 -0.419405 -0.704075  2.057130

In [22]:
new_columns=['col1','col2','col3','col4','col5','col6']

In [25]:
dframe2.reindex(columns=new_columns)
dframe

       col1      col2      col3      col4      col5
A -0.850490  3.163924 -0.682093 -0.771686  0.686310
B  0.321337 -0.058771  0.761163  0.886831 -0.519606
D  0.552078  1.070933 -1.156320  0.345840 -3.015076
E -0.986084  0.034935  1.039179  0.893920 -0.663813
F -1.176792  0.137833 -0.419405 -0.704075  2.057130

In [29]:
dframe

       col1      col2      col3      col4      col5
A -0.850490  3.163924 -0.682093 -0.771686  0.686310
B  0.321337 -0.058771  0.761163  0.886831 -0.519606
D  0.552078  1.070933 -1.156320  0.345840 -3.015076
E -0.986084  0.034935  1.039179  0.893920 -0.663813
F -1.176792  0.137833 -0.419405 -0.704075  2.057130

In [30]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A -0.850490  3.163924 -0.682093 -0.771686  0.686310   NaN
B  0.321337 -0.058771  0.761163  0.886831 -0.519606   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.552078  1.070933 -1.156320  0.345840 -3.015076   NaN
E -0.986084  0.034935  1.039179  0.893920 -0.663813   NaN
F -1.176792  0.137833 -0.419405 -0.704075  2.057130   NaN